<div class="modal"  tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" ng-controller="ChangePasswordModalController">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="closeModal()">
                    &times;
                </button>
                <h4 class="modal-title">{{'options.change_password.title'|translate}}</h4>
            </div>
            <div ng-controller="ChangePasswordController">
                <form name="passwordForm" class="modify-password" ng-submit="submitChangePassword()">
                    <div class="modal-body">
                        <div class="alert {{alertStyle}} text-center">{{alertText}}</div>
                        <div class="row">
                            <div class="register col-xs-12" >
                                    <div class="form-group">
                                        <input name="oldPassInput" type="password" class="form-control" placeholder="{{'options.change_password.old_password'|translate}}"
                                               ng-model="oldPassword" focus-bind="focuses.oldPassword" ng-minlength="6">
                                    </div>
                                    <div class="form-group">
                                        <input name="newPassInput" type="password" class="form-control" placeholder="{{'options.change_password.new_password'|translate}}"
                                               ng-model="newPassword" ng-minlength="6" focus-bind="focuses.newPassword">
                                    </div>
                                    <div class="form-group">
                                        <input name="rePassInput" type="password" class="form-control" placeholder="{{'options.change_password.re_password'|translate}}"
                                               ng-model="rePassword">
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary pull-left" ng-disabled='disableInput'>
                            {{'options.change_password.confirm_update'|translate}}
                        </button>
                        <button class="cancel btn btn-link pull-left"
                                ng-click="cancelChangePassword()" ng-disabled='disableInput'>{{'common.cancel'|translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
