doctype html

html
  head
    meta(charset="utf8")
    title Fantasy

    <!-- build:css vendors/vendors.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    link(rel="stylesheet" type="text/css" href="vendors/vendors.css")
    link(rel="stylesheet" type="text/css" href="styles/menu.css")

  body

    #example ABC

    <!-- build:js vendors/vendors.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    script(type="text/javascript" src="vendors/vendors.js")
    script(type="text/javascript" src="scripts/t.js")